{% extends 'base.html' %}

{% block title %}Create List{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading pt-3">Create a new list</h1>

    {% from "bootstrap5/form.html" import render_form %}
    <form method="POST" action="{{url_for('create_list')}}">
        {{ create_list_form.csrf_token }}
        {{render_form(create_list_form, novalidate=True, button_map={"submit": "primary"}) }}
    </form>

</div>
<div class="content pt-5">
    <a href="{{url_for('home')}}" class="btn btn-secondary">Return to Home</a>
</div>
{% endblock %}