{% extends 'base.html' %}

{% block title %}Delete Anime List{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading pt-3">Warning!</h1>
    <p> Are you sure you want to delete your Anime List "{{ list_to_delete.name }}"?<br>All Entries in the list will be deleted as well. </p>
</div>
<div class="content pt-5">
    <form action="{{ url_for('delete_list', anime_list_id=list_to_delete.id) }}" method="POST">
      <button type="submit" class="btn btn-danger mx-1">Delete</button>
    </form>
    <a href="{{url_for('home')}}" class="btn btn-primary mx-1">Cancel</a>
</div>
{% endblock %}